{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'management_app/css_login.css' %}">
</head>
<body>
    <div class="login">
        <h1>Login here</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="taikhoan">
            <p>Password</p>
            <input type="password" name="matkhau">
            <input type="submit" value="Login">
            <a href="{% url 'register' %}">Đăng ký tài khoản</a>
        </form>
    </div>
</body>
</html>